.container-apply {
    padding: 60px 0;
}

.container-apply-block {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "a b b"
    "c c d";
}

.apply-img-1 {
    grid-area: a;
    width: 500px;
    height: auto;
}

.apply-text-1 {grid-area: b;}
.apply-text-2 {grid-area: c;}

.apply-text-1, .apply-text-2 {
    font-family: handjet;
    font-weight: 200;
    font-size: 150px;
    color: #4cc9f0;
    -webkit-text-stroke: 2px #3a0ca3;
    text-shadow:  #B5179E;
    background: #B5179E;
}

.apply-img-2 {
    grid-area: d;
    width: 600px;
    height: auto;
}