* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
  background: linear-gradient(251deg, #f72585 0%, #c85f8f 50%, #4cc9f0 100%);
}
img {
  width: 100%;
  height: auto;
}
