.container-colagge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
}

.collage-foto {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.collage-foto img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.div1 {
  grid-area: 1 / 4 / 4 / 9;
}
.div2 {
  grid-area: 3 / 1 / 7 / 6;
}
.div3 {
  grid-area: 6 / 4 / 9 / 12;
  margin-top: -50px;
}

.colagge-text h2 {
  color: white;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 500;
}
